body {
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
  }
  
  header {
    background-color: #002A3E;
    color: white;
    padding: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
